@using Crypcy.NodeUI.Services
@inject NodeUiService UiService


<div class="sidebar navbar navbar-dark bg-dark">
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse @NavMenuCssClass bg-dark p-4" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto text-white">
            <li class="nav-item px-3">
                <a class="nav-link text-white" href="">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link text-white" href="connect">
                    <span class="oi oi-plus" aria-hidden="true"></span> Connect
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link text-white" href="chat">
                    <span class="oi oi-chat" aria-hidden="true"></span> Chat
                </a>
            </li>
        </ul>
    </div>
    <div class="configuration p-4">
        <h5 class="text-white py-2">Configuration</h5>
        <div class="form-group py-2">
            <label for="port-input" class="text-white">Port:</label>
            <input id="port-input" type="number" class="form-control" placeholder="Enter an port..." @bind-value="port" @bind-value:event="oninput" />
            <button type="button" class="btn btn-primary" @onclick="() => StartNode(port)">Start</button>
        </div>
    </div>
</div>



@code {
    private int port;

    private void StartNode(int port)
    {
        UiService.NodeStart(port);
    }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}